@model CourseDetailViewModel
<section class="course-info">
    <div class="row">
        <div class="col-md-9">
            <h1>@Model.Title</h1>
        </div>
        <div class="col-md-3 d-flex align-items-end">
            <a class="btn btn-warning btn-lg btn-block subscribe-course" href="#">Iscriviti</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9" html-sanitize>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam facilis totam sed, ducimus sit, non earum quasi rerum atque asperiores iure quia voluptatem aut sint suscipit aspernatur optio? Perspiciatis, sapiente?</p>
            <p>Temporibus esse ducimus eaque minus dolorum vel nobis aliquid labore possimus accusantium, mollitia quod maiores velit aut dolore facere deleniti! Vero dolore temporibus reprehenderit harum quos quia aperiam ipsa suscipit?</p>
            <p>Itaque, velit soluta rem officiis accusantium, laudantium voluptatum cum dicta nulla ipsam ipsum esse eos id blanditiis impedit vel praesentium similique dolore quos beatae magni vitae. Velit quis eos sequi!</p>
            <p>Fugiat, vitae necessitatibus! Molestiae, recusandae fuga modi amet officiis reprehenderit quibusdam dolorem veniam fugiat! Delectus eaque, placeat laborum, nihil vero at eligendi, labore molestiae quidem vitae et. Nemo, officiis aperiam?</p>
        </div>
        <div class="col-md-3">
            <aside>
                <author>di @Model.Author</author>
                <div class="rating" title="@Model.Rating">
                    <rating value="@Model.Rating"></rating>   
                </div>
                <div class="price">
                    <price current-price="@Model.CurrentPrice" full-price="@Model.FullPrice"></price>
                </div>
                <img src="/@Model.ImagePath" class="img-fluid course-image" alt="@Model.Title" asp-append-version="true">
            </aside>
        </div>
    </div>
</section>

<section class="course-lessons">
	<h2>Lezioni (@Model.Lessons.Count)</h2>
	@foreach (var lesson in Model.Lessons)
	{
        <hr>
        <div class="row">
            <div class="col-md-9 d-flex align-items-center">    
                <a href="#">@lesson.Title</a>  
            </div>
            <div class="col-md-3 d-flex align-items-center justify-content-end lesson-duration">
                <i class="far fa-clock"></i><time>@lesson.Duration.ToString("m'm 's's'")</time>
            </div>
        </div>
	}
    <hr>
    <div class="row course-duration">
		<div class="col-md-9 d-flex align-items-center">
            Totale
        </div>
        <div class="col-md-3 d-flex align-items-center justify-content-end">
            <i class="far fa-clock"></i><time>@Model.TotalDuration.ToString("h'h 'm'm 's's'")</time>
        </div>
    </div>
</section>