@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating">
                <label asp-for="Input.FullName"></label>
                <input asp-for="Input.FullName" class="form-control" autocomplete="username" aria-required="true" /> 
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
             <h4>Privacy</h4>
            <hr />

            <h6>Consenso obbligatorio</h6>
            <div class="form-group">
                <input type="checkbox" class="form-check-input" asp-for="Input.EcommerceConsent">
                <label class="form-check-label" asp-for="Input.EcommerceConsent">Acconsento al trattamento dei miei dati personali per finalità ecommerce (<a asp-page="/Privacy" asp-fragment="ecommerce">leggi informativa</a>);</label>
                <span asp-validation-for="Input.EcommerceConsent" class="text-danger"></span>
            </div>

            <h6>Consensi facoltativi</h6>
            <div class="form-group">
                <input type="checkbox" class="form-check-input" asp-for="Input.NewsletterConsent"><label asp-for="Input.NewsletterConsent">Acconsento all'iscrizione alla newsletter (<a asp-page="/Privacy" asp-fragment="newsletter">leggi informativa</a>).</label>
                <span class="form-check-label" asp-validation-for="Input.NewsletterConsent" class="text-danger"></span>
            </div>

            <hr />

            <p>Registrandoti, accetti i <a asp-page="/Terms">termini di utilizzo</a>.</p>
            <button type="submit" class="btn btn-primary">Registrati</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
